@import './helpers/reset';
@import 'helpers/variables';
@import 'helpers/typography';

html {
  color: $main-dark;
  background: $main-light;
}

.row {
  max-width: 1170px;
  margin: 0 auto;
  padding: 32px 0;
  .fluid {
    max-width: 100%;
  }
}